*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: clip;
}
/* 一般內容用 */
.mg-container {
  width: min(90% + 10px, 1280px);
  margin-inline: auto;
}

/* 滑動區塊用，例如 HorizontalScroll */
.mg-scroll-container {
  width: min(90% + 30px, 1380px);
  margin-inline: auto;
}

/* 平板 */
@media (max-width: 768px) {
  .mg-container {
    width: min(100% - 52px, 1380px);
  }
  .mg-scroll-container {
    width: min(100% - 32px, 1380px);
  }
}

/* 手機 */
@media (max-width: 576px) {
  .mg-container {
    width: min(100% - 24px, 1280px);
  }

  .mg-scroll-container {
    width: 100%;
  }
}
